<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            
              <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilUser"></svg></span>
                <input formControlName="nom" placeholder="First Name" />
              </c-input-group>
              <div *ngIf="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched">
                <small class="text-danger" *ngIf="registerForm.get('nom')?.errors?.['required']">First Name is required</small>
              </div>
            
              <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilUser"></svg></span>
                <input formControlName="prenom" placeholder="Last Name" />
              </c-input-group>
              <div *ngIf="registerForm.get('prenom')?.invalid && registerForm.get('prenom')?.touched">
                <small class="text-danger" *ngIf="registerForm.get('prenom')?.errors?.['required']">Last Name is required</small>
              </div>
            
              <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilContact"></svg></span>
                <input formControlName="numeroCNI" placeholder="CNI Number" />
              </c-input-group>
              <div *ngIf="registerForm.get('numeroCNI')?.invalid && registerForm.get('numeroCNI')?.touched">
                <small class="text-danger" *ngIf="registerForm.get('numeroCNI')?.errors?.['required']">CNI Number is required</small>
              </div>
            
              <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilContact"></svg></span>
                <input formControlName="numeroTelephone" placeholder="Phone Number" />
              </c-input-group>
              <div *ngIf="registerForm.get('numeroTelephone')?.invalid && registerForm.get('numeroTelephone')?.touched">
                <small class="text-danger" *ngIf="registerForm.get('numeroTelephone')?.errors?.['required']">Phone Number is required</small>
                <small class="text-danger" *ngIf="registerForm.get('numeroTelephone')?.errors?.['pattern']">Please enter a valid phone number</small>
              </div>

              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input formControlName="email" placeholder="Email" />
              </c-input-group>
              <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                <small class="text-danger" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</small>
                <small class="text-danger" *ngIf="registerForm.get('email')?.errors?.['email']">Please enter a valid email</small>
              </div>

              <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name=""></svg></span>
                <input formControlName="password" placeholder="Password" type="password" />
              </c-input-group>
              <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                <small class="text-danger" *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</small>
                <small class="text-danger" *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</small>
              </div>
            
              <c-input-group class="mb-4">
                <span cInputGroupText><svg cIcon name=""></svg></span>
                <input formControlName="confirmPassword" placeholder="Repeat Password" type="password" />
                
              </c-input-group>
              <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched" class="text-danger">
                  Passwords do not match.
                </div>
              <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
                <small class="text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</small>
                <small class="text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match</small>
              </div>
            
              <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilHome"></svg></span>
                <input formControlName="adresse" placeholder="Address" />
              </c-input-group>
              <div *ngIf="registerForm.get('adresse')?.invalid && registerForm.get('adresse')?.touched">
                <small class="text-danger" *ngIf="registerForm.get('adresse')?.errors?.['required']">Address is required</small>
              </div>
            
              <div class="d-grid">
                <button cButton color="success" type="submit">Create Account</button>
              </div>
            </form>                      
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
